In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('titanic.csv')

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
s=df['Name'][0:10]

In [5]:
type(s)

pandas.core.series.Series

In [6]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [7]:
pd.Series(list(s),index=[1,2,3,4,5,6,7,8,9,10])

1                               Braund, Mr. Owen Harris
2     Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                Heikkinen, Miss. Laina
4          Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                              Allen, Mr. William Henry
6                                      Moran, Mr. James
7                               McCarthy, Mr. Timothy J
8                        Palsson, Master. Gosta Leonard
9     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [8]:
k=df['Pclass'][0:10]

In [10]:
pd.Series(list(k),index=['Braund, Mr. Owen Harris','Cumings, Mrs. John Bradley','Heikkinen, Miss. Laina','Lily May Peel','Mr. William Henry','Moran, Mr. James',
                         'McCarthy, Mr. Timothy J','Master. Gosta Leonard',' Mrs. Oscar W (Elisabeth Vilhelmina Berg)','Nasser, Mrs. Nicholas'])

Braund, Mr. Owen Harris                      3
Cumings, Mrs. John Bradley                   1
Heikkinen, Miss. Laina                       3
Lily May Peel                                1
Mr. William Henry                            3
Moran, Mr. James                             3
McCarthy, Mr. Timothy J                      1
Master. Gosta Leonard                        3
 Mrs. Oscar W (Elisabeth Vilhelmina Berg)    3
Nasser, Mrs. Nicholas                        2
dtype: int64

In [13]:
m=k.append(s)

/tmp/ipykernel_77/1343837049.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  m=k.append(s)

In [14]:
m[0]

0                          3
0    Braund, Mr. Owen Harris
dtype: object

In [15]:
m

0                                                    3
1                                                    1
2                                                    3
3                                                    1
4                                                    3
5                                                    3
6                                                    1
7                                                    3
8                                                    3
9                                                    2
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object