### Normalization Min Max SCALER

In [1]:
import numpy as np
import seaborn as sns

In [2]:
df=sns.load_dataset('taxis')

In [3]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
minmax=MinMaxScaler()

In [9]:
minmax.fit_transform(df[['distance','fare','tip','tolls','total']])

array([[0.04359673, 0.04026846, 0.06475904, 0.        , 0.06713923],
       [0.02152589, 0.02684564, 0.        , 0.        , 0.0461042 ],
       [0.0373297 , 0.04362416, 0.07108434, 0.        , 0.07411249],
       ...,
       [0.11280654, 0.10067114, 0.        , 0.        , 0.09220839],
       [0.03051771, 0.03355705, 0.        , 0.        , 0.03169663],
       [0.10490463, 0.09395973, 0.10120482, 0.        , 0.10869064]])

In [12]:
minmax.transform([[1.67,2.22,21.22,222,12]])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([[4.55040872e-02, 8.18791946e-03, 6.39156627e-01, 9.24229808e+00,
        6.16643615e-02]])