In [135]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [136]:
df=sns.load_dataset('tips')

In [137]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [138]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [139]:
df.describe

<bound method NDFrame.describe of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [140]:
df.info

<bound method DataFrame.info of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [141]:
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [142]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [143]:
from sklearn.preprocessing import LabelEncoder

In [144]:
lencoder=LabelEncoder()

In [145]:
df['time']=lencoder.fit_transform(df[['time']])

In [146]:
df.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

### Dependent Features and Independent Features

In [147]:
x=df.drop(labels=['time'],axis=1)
y=df[["time"]]

In [148]:
x,y

(     total_bill   tip     sex smoker   day  size
 0         16.99  1.01  Female     No   Sun     2
 1         10.34  1.66    Male     No   Sun     3
 2         21.01  3.50    Male     No   Sun     3
 3         23.68  3.31    Male     No   Sun     2
 4         24.59  3.61  Female     No   Sun     4
 ..          ...   ...     ...    ...   ...   ...
 239       29.03  5.92    Male     No   Sat     3
 240       27.18  2.00  Female    Yes   Sat     2
 241       22.67  2.00    Male    Yes   Sat     2
 242       17.82  1.75    Male     No   Sat     2
 243       18.78  3.00  Female     No  Thur     2

 [244 rows x 6 columns],
      time
 0       0
 1       0
 2       0
 3       0
 4       0
 ..    ...
 239     0
 240     0
 241     0
 242     0
 243     0

 [244 rows x 1 columns])

In [149]:
from sklearn.model_selection import train_test_split

In [150]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [151]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer ### To handle missing values
from sklearn.preprocessing import StandardScaler ## To standardize The number
from sklearn.preprocessing import OneHotEncoder ### To encode
from sklearn.compose import ColumnTransformer

In [152]:
categorical_columns=['sex','smoker','day']
numverical_columns=['total_bill','tip','size']

In [153]:
numerical_pipeline=Pipeline(steps=[
                              ('imputer',SimpleImputer(strategy='most_frequent')),
                               ('scaler',StandardScaler()) ] )
    
categorical_pipeline=Pipeline(steps=[ ('imputer',SimpleImputer(strategy='most_frequent')),
                                      ('encoding',OneHotEncoder()) 
                                    ])

In [154]:
processing=ColumnTransformer([('numerical_pipline',numerical_pipeline,numverical_columns),
                              ('categorical_pipeline',categorical_pipeline,categorical_columns)])

In [155]:
X_train=processing.fit_transform(X_train)
X_test=processing.transform(X_test)

In [156]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [157]:
Models={
       'Random Forest Classifier': RandomForestClassifier(),
        'Logisitic': LogisticRegression(),
        'Tree': DecisionTreeClassifier()
    
}

In [158]:
def Model_Evel(X_train,X_test,y_train,y_test,Models):
    report={}
    for i in range(len(Models)):
        Model=list(Models.values())[i]
        Model.fit(X_train,y_train)
        y_predict=Model.predict(X_test)
        score=accuracy_score(y_test,y_predict)
        report[list(Models.keys())[i]]=score
               
     
    return report

In [159]:
Model_Evel(X_train,X_test,y_train,y_test,Models)

{'Random Forest Classifier': 0.9672131147540983,
 'Logisitic': 1.0,
 'Tree': 0.9508196721311475}

In [160]:
from sklearn.ensemble import RandomForestClassifier

In [161]:
parameters={ 'max_depth': [3,5,10,None],
             'n_estimators':[100,200,300],
             'criterion':['gini','entropy']}

In [162]:
from sklearn.model_selection import RandomizedSearchCV

In [163]:
rf=RandomForestClassifier()

In [164]:
rsv=RandomizedSearchCV(rf,param_distributions=parameters,cv=5,random_state=42)

In [165]:
rsv.fit(X_train,y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [3, 5, 10, None],
                                        'n_estimators': [100, 200, 300]},
                   random_state=42)

In [166]:
rsv.best_params_

{'n_estimators': 300, 'max_depth': 10, 'criterion': 'gini'}

In [167]:
y_predicts=rsv.predict(X_test)

In [168]:
from sklearn.metrics import r2_score

In [169]:
score=r2_score(y_test,y_predicts)

In [170]:
score

0.8368983957219251